sidebar
  .widget
    h1(style= 'text-align: center;') New Articles
    h3 Technical
    for item in technical
      a(href= "#{item.Url}")
        div.item
          p #{item.Name}
          p.dateofart #{moment(item.CreationDate).format("DD MMM, YYYY")}
          <hr>
    h3 Musings
    for item in musings
      a(href= "#{item.Url}")
        div.item
          p #{item.Name}
          p.dateofart #{moment(item.CreationDate).format("DD MMM, YYYY")}
          <hr>
